.background-img {
    background-image: url('images/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.quote-container {
    background: none; 
    text-align: center;
    padding: 20px;
    max-width: 600px;
    position: relative;
    z-index: 10;
}

.quote-text {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    font-style: italic;
    margin: 10px 0;
}

.author-text {
    font-size: 1.2em;
    font-weight: normal;
    color: #555;
    margin-top: 10px;
}

.quote-container::before {
    content: open-quote;
    font-size: 3em;
    color: #333;
    position: absolute;
    top: -10px;
    left: -10px;
}

.quote-container::after {
    content: close-quote;
    font-size: 3em;
    color: #333;
    position: absolute;
    bottom: -10px;
    right: -10px;
}
