.background-img {
    background-image: url('.../img/rainbow.jpg'); 
    border: 2px solid red; 
    background-size: cover; 
    background-position: center; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-repeat: no-repeat; 
    z-index: -1;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-text {
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.author-text {
    font-size: 1em;
    font-weight: normal;
    color: black;
    margin-top: 10px;
}

.quote-container::before {
    content: open-quote;
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: -10px;
    left: -10px;
}

.quote-container::after {
    content: close-quote;
    font-size: 3em;
    color: #fff;
    position: absolute;
    bottom: -10px;
    right: -10px;
}