body {
    margin: 0;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
}

.quote-container {
    background: none; 
    text-align: center;
    padding: 20px;
    max-width: 600px;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}

.quote-text {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
}

.author-text {
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    margin-top: 10px;
}

.quote-container::before {
    content: open-quote;
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: -10px;
    left: -10px;
}

.quote-container::after {
    content: close-quote;
    font-size: 3em;
    color: #fff;
    position: absolute;
    bottom: -10px;
    right: -10px;
}